 .App {
   text-align: center;
   background-color: rgb(15, 15, 15);
 }


   /*  ------------------------- Fonts/Headers ------------------------------ */

 @import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');
 @import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@1,300&display=swap');

 h1 {
  font-family: 'Great Vibes', cursive;
  color:honeydew;
  letter-spacing: 4px;
  text-align:left;
  padding-top:20px ;
  padding-left: 15px;
 }

 h2 {
   color: honeydew;
   font-family: 'Great Vibes', cursive;
   letter-spacing: 5px;
   font-size: 25px;
 }
 h3, h4, h5 {
   color:rgb(173, 166, 166);
   font-family: 'Open Sans', sans-serif;
 }

 p {
   color:honeydew;
   letter-spacing: 3px;
 }

  hr.dash {
    border-top: 1px dashed white ;

  }

 
 